bcrypt
blinker
certifi
cffi
click
dnspython
email_validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-Reuploaded
Flask-Uploads
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
six
SQLAlchemy
typing_extensions
Werkzeug
WTForms
