:root {
  --primary: #0463FA;
  --light: #EFF5FF;
  --dark: #1B2C51;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(225,225,235,1) 58%, rgb(150, 204, 235) 100%);
    color: #333333;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .bg-steel {
    background-color: #5f788a;
  }

  .site-header .navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
  }
  .site-header .navbar-brand{
    font-weight: 700;
    transition: ease-in 2s;
  }
  .site-header .navbar-brand:hover{
    transform: scale(1.1);
  }
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
    transition: ease-in 2s;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    transform: scale(1.1);
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }


  .content{
    background: #ffffff;
    box-shadow: 0 4px 8px 8px rgba(48, 6, 237, 0.1);
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .content .content-section{
    max-width: 500px;
    margin: 30px auto ;
    flex: 1 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 8px rgba(48, 6, 237, 0.1);
  }

  .media{
    background: #ffffff;
    box-shadow: 0 4px 8px 8px rgba(48, 6, 237, 0.1);
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: 500;
    padding: 10px 20px;
}
  .media{
    width: 100%;
    display: flex;
  }
  .media-body{
    width: 100%;
  }
  .article-title {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .article-title a{
    text-decoration: none;
  }
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
    font-weight: 500;

  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
  }
  .article-metadata a{
    text-decoration: none;
  }
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .col-md-8{
    padding-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;

  }

  .image{
    height: 40px;
    width: 40px;
  }
  .site-header{
    background-color: #000b3a;
  }

  .list-group{
    padding-left: 0px;
  }
